{% extends "@a/layout.twig" %}

{% block content %}

    <section class="content">


        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Группы пользователей</h2>

            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <p>
                    <a href="{{ path('admin/addgroup') }}" class="btn-sm btn btn-secondary">Добавить новую группу</a>
                </p>
                <ul class="list-group">
                    {% for group in groups %}
                        <li class="list-group-item  align-items-center">
                            <div class="h3">{{ group.getName }}
                                <small>
                                    <a href="{{ path('admin/editgroup', {id: group.getId}) }}" class="mx-3">Редактировать</a>
                                    {% if not group.isSystem %}
                                    <a href="{{ path('admin/deletegroup', {id: group.getId}) }}" class="">Удалить</a>
                                    {% endif %}
                                </small>
                            </div>
                            {{ group.getDescription }}
                            {# <span class="badge bg-primary rounded-pill">14</span> #}

                        </li>
                    {% endfor %}
                </ul>
                <ul>

                </ul>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </section>
{% endblock %}
