{% extends "@a/layout.twig" %}

{% block content %}

    <section class="content">


        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Редактирование блока <b>{{ block.getName }}</b></h2>
            </div>
            <!-- /.card-header -->
            <div class="card-body">

                {% if access2route('admin/blocklocation') %}
                <div class="my-3">
                    <a class="mx-1 btn btn-sm  btn-sm btn-outline-dark"
                       href="{{ path('admin/blocklocation', {"id": block.getId}) }}"><i class="fa fa-edit"></i>
                        Управление местоположением блока </a>
                </div>
                {% endif %}
                <div class="my-3">
                    <p>
                        Для отображения блока в шаблоне, вставьте туда код
                    </p>
                    <code class="user-select-all">
                        &lt;!-- Блок: "{{ block.getName }}" --&gt;<br>
                            {{ block.getTwigTemplateString(true) }}<br>
                        &lt;!-- /Блок: "{{ block.getName }}" --&gt;
                    </code>

                </div>

                {{ form.output|raw }}
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </section>
{% endblock %}

{% block scripts %}
    {{ wysiwyg|raw }}
{% endblock %}
