{% extends "@a/layout.twig" %}

{% block content %}

    <section class="content">


        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Блоки</h2>

            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <ul class="list-group">
                    {% for block in blocks %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <div class="flex-grow-1">
                                <b>{{ block.name }}</b>
                                {% if block.cloned %}
                                    <span class="badge badge-primary badge-pill">cloned</span>
                                {% endif %}

                                <small class="d-block">{{ block.class }}</small>
                                <small class="d-block text-monospace">id: <b class="user-select-all">{{ block.id }}</b></small>

                                <div class="collapse mt-3" id="collapseExample{{ block.id }}">
                                    <div class="user-select-all">
                                        <code class="text-monospace">
                                            &lt;!-- Блок: "{{ block.name }}" --&gt;<br>
                                            {{ '{{' }} ViewBlock('{{block.id}}') {{ '}}' }}<br>
                                            &lt;!-- /Блок: "{{ block.name }}" --&gt;
                                        </code>
                                    </div>
                                </div>

                            </div>
                            <div class="align-self-start">
                                {% if access('@admin_blocks_location') %}
                                    <a class="mx-1 btn btn-sm  btn-sm btn-outline-dark "
                                       href="{{ path('@admin_blocks_location', {"id": block.id}) }}"><i
                                                class="fa fa-th"></i>
                                        Расположение </a>
                                {% endif %}

                                {% if access('@admin_blocks_edit') %}
                                    <a class="mx-1 btn btn-sm  btn-sm btn-outline-dark "
                                       href="{{ path('@admin_blocks_edit', {"id": block.getId}) }}"><i
                                                class="fa fa-edit"></i>
                                        Редактировать </a>
                                {% endif %}

                                {% if access('@admin_blocks_clone') %}
                                    <a class="mx-1 btn btn-sm  btn-sm btn-outline-dark "
                                       href="{{ path('@admin_blocks_clone', {"id": block.getId}) }}"><i
                                                class="fa fa-clone"></i>
                                        Клонировать </a>
                                {% endif %}

                                {% if block.isRemovable %}
                                    {% if access('@admin_blocks_delete') %}
                                        <a class="mx-1 btn btn-sm  btn-sm btn-danger "
                                           href="{{ path('@admin_blocks_delete', {"id": block.getId}) }}"><i
                                                    class="fa fa-trash"></i> Удалить</a>
                                    {% endif %}
                                {% endif %}
                                <a class="mx-1 btn btn-sm  btn-sm btn-secondary " data-toggle="collapse"
                                   aria-expanded="false"
                                   aria-controls="collapseExample{{ block.getId }}"
                                   href="#collapseExample{{ block.getId }}">
                                    <i class="fa fa-code"></i> Код для вставки в шаблон
                                </a>

                            </div>
                        </li>



                    {% else %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <em>отсутствуют</em></li>
                    {% endfor %}
                </ul>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </section>


{% endblock %}
