{% extends '@a/layout.twig' %}
{% do asset('css', [
    {0: 'https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css','minify': false},
    {0: '../modules/admin/node_modules/admin-lte/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css','minify': false},
    {0:  '../modules/admin/node_modules/admin-lte/plugins/icheck-bootstrap/icheck-bootstrap.min.css','minify': false},
    {0: '../modules/admin/node_modules/admin-lte/plugins/jqvmap/jqvmap.min.css','minify': false},
    {0: '../modules/admin/node_modules/admin-lte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css','minify': false},
    {0: '../modules/admin/node_modules/admin-lte/plugins/daterangepicker/daterangepicker.css','minify': false},
    {0:  '../modules/admin/node_modules/admin-lte/plugins/summernote/summernote-bs4.min.css','minify': false},
    'modules/admin/node_modules/toastr/build/toastr.css',
    'modules/admin/node_modules/gridstack/dist/gridstack.min.css'
]) %}
{% do asset('js', [
    {0: '../modules/admin/node_modules/admin-lte/plugins/chart.js/Chart.min.js','minify': true},
    {0: '../modules/admin/node_modules/admin-lte/plugins/sparklines/sparkline.js','minify': false},
    {0: '../modules/admin/node_modules/admin-lte/plugins/jqvmap/jquery.vmap.min.js','minify': false},
    {0: '../modules/admin/node_modules/admin-lte/plugins/jqvmap/maps/jquery.vmap.usa.js','minify': true},
    {0: '../modules/admin/node_modules/admin-lte/plugins/jquery-knob/jquery.knob.min.js', 'minify': false},
    {0: '../modules/admin/node_modules/admin-lte/plugins/moment/moment.min.js', 'minify': false},
    {0: '../modules/admin/node_modules/admin-lte/plugins/daterangepicker/daterangepicker.js','minify': false},
    {0: '../modules/admin/node_modules/admin-lte/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js', 'minify': false},
    {0: '../modules/admin/node_modules/admin-lte/plugins/summernote/summernote-bs4.min.js', 'minify': false},
    {0: '../modules/admin/node_modules/admin-lte/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js', 'minify': false},
    'modules/admin/node_modules/toastr/build/toastr.min.js',
    'modules/admin/node_modules/gridstack/dist/es5/gridstack-poly.js',
    'modules/admin/node_modules/gridstack/dist/es5/gridstack-jq.js',
    'modules/admin/template/assets/widgets.js',
]) %}

{% block content %}

    <style>
        .overflow-y-hidden {
            overflow-y: hidden !important;
        }

        .widget-toolbox {
            position: absolute;
            top: 10px;
            left: 10px;
            z-index: 1;
            display: none;
        }

        #gs.editable .grid-stack-item-content:hover .widget-toolbox {
            display: block;
        }

    </style>

    <section class="content">
        <div class="container-fluid">
            <div class="custom-control custom-switch pb-3 d-flex justify-content-between">
                <input type="checkbox" class="custom-control-input" id="allowEditGrid">
                <label class="custom-control-label" for="allowEditGrid">Редактировать виджеты</label>

                <a class="btn btn-link" href="{{ path('admin/managewidgets') }}"><i class="fa fa-plus"></i>
                    Добавить виджеты</a>
            </div>


            <div class="grid-stack" id="gs" data-save-url="{{ path('admin/save-widgets') }}">
                {% for widget in widgets %}

                    <div class="grid-stack-item"
                         gs-id={{ widget.getId }} {{ (widget.options.gs ?? {"h":5})|map((value, key) => "gs-#{key}=\"#{value}\"")|join(' ')|raw }}>
                        <div class="grid-stack-item-content overflow-y-hidden">
                            {{ ViewWidget(widget.getId) }}
                            <div class="widget-toolbox">
                                <span href="#" class="badge btn btn-link  bg-dark p-2"><i class="fa fa-edit"></i></span>
                                <span data-url="{{ url('admin/deletewidget', {"id": widget.getId}) }}"
                                      class="delete-widget btn btn-link badge bg-dark p-2"><i
                                        class="fa fa-trash"></i></span>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div>
                        Виджеты не добавлены, доступные виджеты можно посмотреть и установить в <a
                            href="{{ path('admin/managewidgets') }}">этом разделе</a>
                    </div>
                {% endfor %}
            </div>
        </div><!-- /.container-fluid -->
    </section>

{% endblock %}
