{% extends "@a/layout.twig" %}

{% block scripts %}
    <script>
        $(function () {
            $("#users-list").DataTable({
                "responsive": true,
                "autoWidth": false,
            });
        });
    </script>
{% endblock %}
{% block content %}
    {% do asset('css', [
        'modules/admin/node_modules/admin-lte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css',
        'modules/admin/node_modules/admin-lte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css',
    ]) %}
    {% do asset('js', [
        'modules/admin/node_modules/admin-lte/plugins/datatables/jquery.dataTables.min.js',
        'modules/admin/node_modules/admin-lte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js',
        'modules/admin/node_modules/admin-lte/plugins/datatables-responsive/js/dataTables.responsive.min.js',
        'modules/admin/node_modules/admin-lte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js',
    ]) %}
    <section class="content">


        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Список пользователей</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="users-list" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Login</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.getName }}
                                <small class="d-block">
                                    {% for group in user.getGroups %}
                                        <span class="badge bg-secondary">{{ group.getName }}</span>

                                    {% endfor %}
                                </small>
                            </td>
                            <td>{{ user.getLogin }}</td>
                            <td>
                                {% if user.isEditable %}
                                    <a href="{{ path('@admin_users_edit', {'id': user.getId}) }}">Редактировать</a>
                                    <a href="{{ path('@admin_users_delete', {'id': user.getId}) }}">Удалить</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </section>
{% endblock %}
