<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
        <img src="/assets/modules/admin/template/assets/logo.png" alt="Enjoys CMS"
             class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">Enjoys CMS</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="info">
                <span class="text-white d-block h4">{{ _user.getName ?? 'NoName' }}</span>
                <a class="font-weight-bold d-block" href="{{ url('system/logout', {'login' : _user.getLogin}) }}">Выйти</a>
            </div>
        </div>

        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search"
                       aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                {% if access('@admin_index') %}
                    <li class="nav-item">
                        <a href="{{ path('@admin_index') }}" class="nav-link">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>
                                Dashboard
                            </p>
                        </a>
                    </li>
                {% endif %}

                {% if access('@admin_setting_manage') %}
                    <li class="nav-item">
                        <a href="{{ path('@admin_setting_manage') }}" class="nav-link text-warning">
                            <i class="nav-icon fa fa-cogs"></i>
                            <p>
                                Настройки
                            </p>
                        </a>
                    </li>
                {% endif %}

                {% if access(['@admin_users_list', '@admin_users_add', '@admin_groups_list']) %}
                    <li class="nav-item">
                        <a href="{{ path('@admin_users_list') }}" class="nav-link">
                            <i class="nav-icon fas fa-users-cog"></i>
                            <p>
                                Пользователи
                                <i class="right fas fa-angle-right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">

                            {% if access('@admin_users_list') %}
                                <li class="nav-item">
                                    <a href="{{ path('@admin_users_list') }}" class="nav-link">
                                        <i class="fas fa-user-friends nav-icon"></i>
                                        <p>Все пользователи</p>
                                    </a>
                                </li>
                            {% endif %}

                            {% if access('@admin_users_add') %}
                                <li class="nav-item">
                                    <a href="{{ path('@admin_users_add') }}" class="nav-link">
                                        <i class="fas fa-user-plus nav-icon"></i>
                                        <p>Добавить пользователя</p>
                                    </a>
                                </li>
                            {% endif %}

                            {% if access('@admin_groups_list') %}
                                <li class="nav-item">
                                    <a href="{{ path('@admin_groups_list') }}" class="nav-link">
                                        <i class="fas fa-users nav-icon"></i>
                                        <p>Группы</p>
                                    </a>
                                </li>
                            {% endif %}

                        </ul>
                    </li>
                {% endif %}


                {% if access(['@admin_widgets_manage', '@admin_widgets_edit']) %}
                <li class="nav-item">
                    <a href="{{ path('@admin_widgets_manage') }}" class="nav-link">
                        <i class="nav-icon fas fa-window-maximize"></i>
                        <p>
                            Виджеты
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        {% if access('@admin_widgets_manage') %}
                            <li class="nav-item">
                                <a href="{{ path('@admin_widgets_manage') }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Менеджер виджетов</p>
                                </a>
                            </li>
                        {% endif %}

                    </ul>
                    {% endif %}
                </li>

                {% if access(['@admin_blocks_manage', '@admin_blocks_add', '@admin_blocks_setup']) %}
                <li class="nav-item">
                    <a href="{{ path('@admin_blocks_manage') }}" class="nav-link">
                        <i class="nav-icon fas fa-th-large"></i>
                        <p>
                            Блоки
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        {% if access('@admin_blocks_manage') %}
                            <li class="nav-item">
                                <a href="{{ path('@admin_blocks_manage') }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Настройка блоков</p>
                                </a>
                            </li>
                        {% endif %}

                        {% if access('@admin_blocks_add') %}
                            <li class="nav-item">
                                <a href="{{ path('@admin_blocks_add') }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Добавить новый блок</p>
                                </a>
                            </li>
                        {% endif %}

                        {% if access('@admin_blocks_setup') %}
                            <li class="nav-item">
                                <a href="{{ path('@admin_blocks_setup') }}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Установка блоков</p>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                    {% endif %}
                </li>

                <li class="nav-header">МОДУЛИ (PLUGINS)</li>
                {% for module in getModules() %}
                    {% if access(module.adminLinks|keys) %}
                        <li class="nav-item n">
                            <a href="{{ path(module.adminLinks|keys|first) }}" class="nav-link ">
                                <i class="nav-icon fa fa-puzzle-piece"></i>
                                <p>
                                    {{ module.moduleName }}
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>

                            <ul class="nav nav-treeview">
                                {% for link, name in module.adminLinks %}
                                    {% if access(link) %}
                                        <li class="nav-item">
                                            <a href="{{ path(link) }}" class="nav-link">
                                                <i class="fas fa-angle-right nav-icon"></i>
                                                <p>{{ name }}</p>
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                {% endfor %}

                {% include '@a/navbars/application-links.twig' %}
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
